@import "./../components/title-one.css";
@import "./../components/description.css";
@import "./../components/link-with-icon.css";

.content {
  margin-top: 4.5rem;
}

.description {
  width: 75%;
  margin: 3rem 0 2.5rem;
}
