.link-button {
  display: block;
  border: 1px var(--white-1) solid;

  width: 10.2rem;
  height: 3.2rem;

  text-transform: uppercase;
  font-family: var(--font-third);
  font-weight: 200;
  font-size: var(--text-md);
  text-align: center;
  line-height: 2.8rem;
}
