:root {
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Lora", serif;
  --font-third: "Crimson Pro", serif;

  --black-1: #181719;
  --gray-1: #828282;
  --white-1: #fff;

  --text-xs: 1rem;
  --text-sm: 1.2rem;
  --text-md: 1.4rem;
  --text-lg: 1.8rem;
  --text-lgx: 2.4rem;

  --title-xs: 1.2rem;
  --title-sm: 1.8rem;
  --title-md: 2.4rem;
  --title-lg: 3.6rem;
  --title-lgx: 4.8rem;

  --space-xs: 1.2rem;
  --space-sm: 2rem;
  --space-md: 4.2rem;
  --space-lg: 4.8rem;
  --space-lgx: 7.7rem;
  --space-lxx: 8.6rem;

  --min-width: 37.5rem;
  --max-width: 144rem;
}
